<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodePlayground</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/code.ico' %}">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <!-- Icon CDN -->
    <script src="https://kit.fontawesome.com/f6f8f493f3.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="header">
            <a href="#" class="logo"><i class="fa-brands fa-codepen"></i> CodePlayground</a>

            <nav class="navbar">
                <a href="{% url 'index' %}">Home</a>
                <a href="#home">Interpreter</a>
                <a href="#problems">Problems</a>
                <a href="about.html">About Us</a>
            </nav>
            {% if request.user.is_authenticated %}
            <div class="icons">
                <a href="profile.html" class="fas fa-user-circle"></a>
                <a href="{% url 'logout' %}" class="fa-solid fa-right-from-bracket"></a>
            </div>
            {% else %}
            <div>
            <a href="{% url 'login' %}" class="btn">Login</a>
            <a href="{% url 'signup' %}" class="btn">Signup</a>
            </div>
            {% endif %}
        </div>
    </header>
    <br>
    {% if messages %}
    <div class="messages" id="messages">
        <ul class="msg">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        <span><i class="fa-solid fa-xmark" id="cross" onclick="rm()"></i></span>
    </div>
    {% endif %}
    <script>
        const messages = document.getElementById('messages')
        function rm(){
            messages.style.display = 'none';
        }
    </script>
    {% block content %}
      
    {% endblock content %}

    <!-- Footer Section -->
    <section class="footer" id="footer">
        <h1 class="copyright">&#169;2025 <span>CodePlayground</span> Inc. | All Rights Reserved!</h1>
    </section>
    
</body>
</html>